

<%= form_with(scope: :session, url:login_path, local:true) do|f|%>
    <div class="row">
        <p class="input-with-label">   
            <%= f.label :email %> 
            <%= f.email_field :email, placeholder: "Enter an email"%>
        </p>
    </div>

    <div class="row">
    <p class="input-with-label">   
        <%= f.label :password %> 
        <%= f.password_field :password, placeholder: "Enter password"%>
    </p>
    </div>
    <div class="center-everything">     
        <%= f.submit("Log in", 
            class:"btn btn-outline-success my-2 my-sm-0 create-article-button" )%>
    </div>
    <% end %>
