<% if @article.errors.any? %>
    <h3>Errors:</h3>
    <ul>
        <% @article.errors.full_messages.each do |message| %>
            <% p message %>
            <li> <%= message  %> </li>
        <% end%>
    </ul>
<% end%>

<%= form_with(model: @article, local:true) do|f|%>
    <div class="row">
        <p class="input-with-label">    
            <%= f.label :title %> 
            <%= f.text_field :title, placeholder: "Title of article" %>
        </p>
    </div>
    <div class="row">
        <p class="input-with-label">   
            <%= f.label :description %> 
            <%= f.text_area :description, placeholder: "Description"%>
        </p>
    </div>

    <div class="row">
        <p class="input-with-label">   
            <%= f.label :categories %> 
            <%= f.collection_select(:category_ids, Category.all, :id, :name,
            {prompt: "Select (optional)"}, 
            {multiple: true, class:"custom-select width-60"})%>
        </p>
    </div>

    <div class="center-everything">
        <button class="btn btn-outline-success my-2 my-sm-0 create-article-button" 
            submit= <%= f.submit %>
        Create article
        </button>
    </div>
    <% end %>