<h1> Article </h1>
<h5>Title: <span><%= @article.title %></span></h1>
<h5>Description: <span><%= @article.description %></span></h1>


<%= link_to 'Edit', edit_article_path() %> |
<%= link_to 'Delete', article_path, method: :delete, data: { confirm: "Do you want to delete it?"} %> |
<%= link_to 'View all articles', articles_path%>
